@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
  }

  body {
    background-color: #0A0F1D;
    color: #F1F5F9;
  }
}
